.navbar {
    position: -webkit-sticky; 
    position: sticky;
    position: fixed;
    transition: background-color 0.3s ease;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: transparent;
    z-index: 1000;
   
  }

  .navbar.scrolled {
    background-color: #333;
  }

  .navbar ul.bg-white {
    background-color: white;
  }

  
  
  .navbar ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #1A1A1A26;
  }

  .nextbg{
    background-image: url('../../assests/view-ready-eat-delicious-meal-go\ 2.svg');
  }
  
