.wave-container {  
  height: 100vh;
  background-image: url(../../assests/bgImg.svg);
  position: relative;
}

.wave-container::before {   
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 20vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 3 32.2291 5 51.5 9C104.5 19 200 43 300 65C400 88 500 111 600 102C700 93 800 53 900 30C987.526 5 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V1.98128Z' fill='%23F08F00'/></svg>");
}

@media(max-width:850px) {
  .wave-container::before {    
    height: 40px
  }  
}

.wave2-container {  
  height: 70vh;
  background-color: #F08F00;
  position: relative;
}

.wave2-container::before {   
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 20vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23FFF5EE'/></svg>");
}

@media(max-width:850px) {
  .wave2-container::before {    
    height: 40px
  }  
}

@keyframes floatUpDown {
  0% {
    top: 0%;
  }
  50% {
    top: -17%; 
  }
  100% {
    top: 0%;
  }
}

.floating-img {
  animation: floatUpDown 10s ease-in-out infinite;
}

