.wave-container {  
  height: 100vh;
  background-image: url(../../assests/bgImg.svg);
  position: relative;
}

.wave-container::before {   
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 20vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 128' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 21L33 18C82 12 133 14 200 28C267 42 333 64 400 67C467 71 533 57 600 39C667 21 733 0 800 0C867 0 933 21 1000 28C1067 35 1133 28 1167 25L1200 21V128H1167C1133 128 1067 128 1000 128C933 128 867 128 800 128C733 128 667 128 600 128C533 128 467 128 400 128C333 128 267 128 200 128C133 128 67 128 33 128H0V22.332Z' fill='%23f08f00'/></svg>");
}

@media(max-width:850px) {
  .wave-container::before {    
    height: 40px
  }  
}

.wave2-container {  
  height: 70vh;
  background-color: #F08F00;
  position: relative;
}

.wave2-container::before {   
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 20vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 128' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 21L33 18C82 12 133 14 200 28C267 42 333 64 400 67C467 71 533 57 600 39C667 21 733 0 800 0C867 0 933 21 1000 28C1067 35 1133 28 1167 25L1200 21V128H1167C1133 128 1067 128 1000 128C933 128 867 128 800 128C733 128 667 128 600 128C533 128 467 128 400 128C333 128 267 128 200 128C133 128 67 128 33 128H0V22.332Z' fill='%23ffffff'/></svg>");
}

@media(max-width:850px) {
  .wave2-container::before {    
    height: 40px
  }  
}

@keyframes floatUpDown {
  0% {
    top: 0%;
  }
  50% {
    top: -17%; 
  }
  100% {
    top: 0%;
  }
}

.floating-img {
  animation: floatUpDown 10s ease-in-out infinite;
}

